@model List<UserDetailDTO>
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@{
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kullanıcılar</h3>

                <div class="card-tools">
                    <a href="#" class="btn btn-primary" title="Previous" data-toggle="modal" data-target="#modal-user-add">Kullanıcı Ekle</a>

                </div>
            </div>
            <div class="card-body">
                <table id="tblUser" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>E-Posta</th>
                            <th>Telefon</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                <button type="button" class="btn btn-block btn-success btn-sm btnUserDetail" data-toggle="modal" data-target="#modal-user-update" data-guid="@item.Guid">Detaylar</button>

                                <button type="button" class="btn btn-block btn-danger btn-sm btnUserDelete" data-guid="@item.Guid">Sil</button>
                                </td>
                            </tr>
                    }
                    </tbody>

                </table>
            </div>
        </div>

}
<div class="modal fade" id="modal-user-add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kullanıcı Bilgileri</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txtAd_Add">Ad</label>
                    <input type="text" class="form-control" id="txtAd_Add" placeholder="Ad..">
                </div>

                <div class="form-group">
                    <label for="txtSoyad_Add">Soyad</label>
                    <input type="email" class="form-control" id="txtSoyad_Add" placeholder="Soyad..">
                </div>
                <div class="form-group">
                    <label for="txtKullaniciAdi_Add">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="txtKullaniciAdi_Add" placeholder="Kullanıcı Adı..">
                </div> 
                <div class="form-group">
                    <label for="txtSifre_Add">Şifre</label>
                    <input type="password" class="form-control" id="txtSifre_Add" placeholder="Şifre..">
                </div>
                <div class="form-group">
                    <label for="ddlGroup_Add">Grubu</label>
                    @{
                            @await Component.InvokeAsync("UserGroupDropDown", new UserGroupDropDownViewModel()
            {
                ElementID = "ddlUserGroup_Add"
            })
                    }
                    
                </div>

                <div class="form-group">
                    <label for="txtEPosta_Add">E-Posta</label>
                    <input type="email" class="form-control" id="txtEPosta_Add" placeholder="E-Posta..">
                </div>

                <div class="form-group">
                    <label for="txtTel">Telefon</label>
                    <input type="text" class="form-control" id="txtTel_Add" placeholder="Telefon..">
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnAddUser">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-user-update">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kullanıcı Bilgileri</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txtAd_Update">Ad</label>
                    <input type="text" class="form-control" id="txtAd_Update" placeholder="Ad..">
                </div>

                <div class="form-group">
                    <label for="txtSoyad_Update">Soyad</label>
                    <input type="text" class="form-control" id="txtSoyad_Update" placeholder="Soyad..">
                </div>

                <div class="form-group">
                    <label for="ddlGroup_Add">Grubu</label>
                   <div id="divUserGroupDropDown_Update"></div>
                    
                </div>

                <div class="form-group">
                    <label for="txtEPosta_Update">E-Posta</label>
                    <input type="email" class="form-control" id="txtEPosta_Update" placeholder="E-Posta..">
                </div>

                <div class="form-group">
                    <label for="txtTel_Update">Telefon</label>
                    <input type="text" class="form-control" id="txtTel_Update" placeholder="Telefon..">
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnUpdateUser">Güncelle</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<input type="hidden" id="hdnSelectedGroup"/>
<script>
    $(function () {

        $("#tblUser").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblUser_wrapper .col-md-6:eq(0)');
        $('.btnUserDetail').click(function () {
            var guid = $(this).attr('data-guid');
            
            //sessionStorage.setItem('userGUID',guid);

            $.ajax({
                url: '/Admin/User/' + guid,
                type: 'get',
                success: function (response) {
                    $('#txtAd_Update').val(response.user.FirstName);
                    $('#txtSoyad_Update').val(response.user.LastName);
                    $('#txtEPosta_Update').val(response.user.Email);
                    $('#txtTel_Update').val(response.user.PhoneNumber);
                    //$('#hdnSelectedGroup').val(response.user.UserGroupGUID)

                    $('#btnUpdateUser').attr('data-guid',guid)

                    // var model={
                    //     ElementID:"ddlUserGroup_Update",
                    //     SelectedItemGUID:response.user.UserGroupGUID
                    // }
                    var elementID= "ddlUserGroup_Update";
                    var selectedItemGUID= response.user.UserGroupGUID;

               $.ajax({
                url: '/InvokeUserGroupDropDown',
                type: 'get',
                data:{elementID,selectedItemGUID},
                success: function (response) {
                    
                    $('#divUserGroupDropDown_Update').html('').append(response);

                }

            });

                }

            });

        });


        $('#btnUpdateUser').click(function(){

           var updateUserRequestDTO = {
               Ad:$('#txtAd_Update').val(),
               Soyad:$('#txtSoyad_Update').val(),
               EPosta:$('#txtEPosta_Update').val(),
               TelNo:$('#txtTel_Update').val(),
               GroupGUID:$('#ddlUserGroup_Update').val(),
               //Guid: sessionStorage.getItem('userGUID'),
               Guid: $(this).attr('data-guid')

           }

           
            $.ajax({
                url: '/Admin/UpdateUser/',
                type: 'post',
                data:{updateUserRequestDTO},
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: "İşlem Başarılı!",
                            html: "Kullanıcı Başarıyla Güncellendi. Sayfa Tekrar Yükleniyor",
                            timer: 3000,
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            title: "İşlem Başarısız!",
                            html: response.error,
                            icon:"error"
                        });
                    }
                  

                }

            });

        });
        $('#btnAddUser').click(function () {

            var addUserRequestDTO = {
               Ad:$('#txtAd_Add').val(),
               Soyad:$('#txtSoyad_Add').val(),
               EPosta:$('#txtEPosta_Add').val(),
               TelNo:$('#txtTel_Add').val(),
                KullaniciAdi: $('#txtKullaniciAdi_Add').val(),
                Sifre: $('#txtSifre_Add').val(),
               GroupGUID:$('#ddlUserGroup_Add').val(),
           }

           
            $.ajax({
                url: '/Admin/AddUser/',
                type: 'post',
                data: { addUserRequestDTO },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: "İşlem Başarılı!",
                            html: "Kullanıcı Başarıyla Eklendi. Sayfa Tekrar Yükleniyor",
                            timer: 3000,
                        }).then((result) => {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            title: "İşlem Başarısız!",
                            html: response.error,
                            icon:"error"
                        });
                    }
                  

                }

            });

        });
        $('.btnUserDelete').click(function () {
            var guid = $(this).attr('data-guid');
          
            Swal.fire({
                title: "Silmek İstediğinizden Emin misiniz??",
                showDenyButton: true,
                confirmButtonText: "Sil",
                denyButtonText: `Vazgeç`
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/DeleteUser/' + guid,
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: "İşlem Başarılı!",
                                    html: "Kullanıcı Başarıyla Silindi. Sayfa Tekrar Yükleniyor",
                                    timer: 3000,
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "İşlem Başarısız!",
                                    html: response.error,
                                    icon: "error"
                                });
                            }


                        }

                    });

                }
            });

           

        });


        });
</script>
