@model UserGroupDropDownViewModel

<select class="form-control" style="width: 100%;" id="@Model.ElementID">

    @{
        foreach (var item in Model.Data)
        {
            if (Model.SelectedItemGUID==item.GUID)
            {
                <option selected="selected" value="@item.GUID">@item.Adi</option>
            }
            else
            {
                <option value="@item.GUID">@item.Adi</option>
            }
            
               
        }
    }


    
</select>
<script>
    $(function () {

        // $(".select2").select2({
        //     tags: true,
        //     dropdownParent: $(".modal")
        // });
    
    })

</script>